<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="post" action="">  
      <label>Username : </label>   
      <input type="text" placeholder="Enter Username" name="uname" required>
      <br>  
      <label>Password : </label>   
      <input type="password" placeholder="Enter Password" name="pword" required>  
      <button type="submit">Login</button> 
      <br>
      <%- warn_message %>
    </form>  

  </body>
</html>
